body{position:relative}

.sideBar-header{
	width:100%;
	height:26%;
	position: relative;
	
}
.sideBar-header>div.mask{
	width:100%;position:absolute;top:0;
}

.sideBar-header>div.avatarZone{
	
	padding: 25px 15px 0px;
	z-index: 30;
	position: relative;
}
.sideBar-header>div.signZone{
	width:100%;height:auto;
	padding: 0px 15px 0px;
	z-index: 30;
	
}
div.signZone>.userName{
	font-size: 2em;
	color:#fff;
}
div.signZone>.sign{
	font-size: 13px;
	color:#D3D3D3
}
.sideBar-header>div.avatarZone>img{
	height: 55px;
	width:55px;
	border-radius: 50%;
}
.sideBar-header>div.avatarZone>img + i{
	font-size: 20px;
	color:#fff;
	float:right;
}
.sideBar-content,.sideBar-footer{
	width:100%;
	
	background-color: #fff;
}

.sideBar-content{height:52%;}
.sideBar-content>div{
	height: 45px;
	padding:11px 15px;
	
	vertical-align: middle;

}
.sideBar-content>div>div{
	
	height: 23px;
	float:left;
	font-size: 15px;
	padding:1px 0;
	margin-left: 30px;
}
.sideBar-content>div.active{
	background-color: rgb(212,229,245);

}
.sideBar-content>div>i{
	font-size:23px;
	float:left;
}


.sideBar-footer{height:22%;}

.background{
	width:100%;
	
	position: fixed;
	top:0;
	left:0;
	z-index: 99;
	opacity: 0.7;
	background-color:black;
	display: none;
}